.main-cursos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*  @extend %flexx; */
  flex-direction: row;
  gap: 15px;

  width: 100%;
  background-image: url(../asset/images/foto3.jpeg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  img {
    height: 150px;
  }
}
