.contacto {
  background-image: url(../asset/images/camuflaje-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1,
  h2 {
    color: whitesmoke;
  }
  label {
    color: whitesmoke;
  }
}
