@media (max-width: 790px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    .header_nav {
      display: none;
    }
    .logo_tama {
      margin: 0;
    }
    #barra {
      display: inline;
    }
  }
}

.nosotros_texto {
  overflow: hidden;
}
.main-cursos {
  flex-wrap: wrap;
  overflow: hidden;
}

@media (max-width: 650px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    .nosotros_titulo {
      flex-wrap: wrap;
      width: 100%;
      padding: 10px 20px;
      align-items: center;
      justify-content: center;
    }
    .nosotros_texto {
      flex-wrap: wrap;
      width: 100%;
      padding: 10px 10px;
      overflow: hidden;
    }
  }
  .main-cursos {
    flex-wrap: wrap;
    overflow: hidden;
  }
  main {
    #main-index {
      flex-direction: column;
      width: 100%;
    }
    .hero-img {
      width: 100%;
      padding: 10px 20px;
    }
    .hero {
      width: 100%;
      padding: 0 20px;
    }
  }
}

@media (max-width: 400px) {
  footer {
    flex-direction: column;
  }
  footer p {
    margin-bottom: 15px;
  }
}
