.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  padding-top: 20px;
  height: 500px;
  width: 100%;
  background-image: url(../asset/images/guardaespalda3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: end;
  background-color: rgba(255, 255, 255, 0.151);

  .nosotros_titulo {
    color: black;
    letter-spacing: 1px;
    width: 100%;
    padding: 20px;
    width: 60%;
  }
  .nosotros_texto {
    width: 100%;
    p {
      color: black;
      font-weight: bold;
      font-size: 20px;
      padding: 20px 30px;
      margin: 0;
    }
  }
}
