.servicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  padding: 15px;
  margin: 0 auto;
  background-image: url(./asset/images/guardaespalda2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
